{% extends 'base-site/base.html' %}
{% load static%}
{% load mptt_tags %}

{% block body %}

 <center>
     <br>
<H3 class="editContent">Форма обратной связи</H3>
<div form-row>

<form action="{% url 'contact' %}" method="post"  enctype="multipart/form-data" class="w3layouts-newsletter">
    {% csrf_token %}
        <div class="form-group col-md-6">

    {%  for a in form %}
        {{ a }}

    <br>
    {% endfor %}</div>
    <br>
    <span> Отправля свои данные вы соглашаетесь с условиями сайта</span>
    <input class="btn" type = "submit" value ="Отправить">

</form>
    </center>
</div>
{% endblock %}
