{% extends 'base-site/base.html' %}

{% load static%}

{% block body %}

<section>
    <div class="row">
            {% include 'glavnaya/slider.html' %}
    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-md-8">

            {% include 'glavnaya/favorits.html' %}
            <hr>
            <br>
            {% include 'glavnaya/favorit.html' %}
        </div>

        <div class="col-sm-4 col-md-4">
            {% include 'glavnaya/sidebar-new.html' %}
            <br>
            {% include 'glavnaya/sidebar-comment.html' %}
        </div>
</div>
{% include 'glavnaya/rubrics.html' %}
</section>


{% endblock %}