{% load static%}

<section>
         <div class="container">
            <div class="col-sm-4 col-md-4">
               <!-- .title -->   
               <!-- .title -->   
               <div class="title">
                  <h2>TRAVEL</h2>
               </div>
               <!-- /.title -->   
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1400px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall.jpg" alt="inimgsmall">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall2.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Five ugly truths about Gilmore Girls </a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall3.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">One more time? Federer’s golden opportunity</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall4.jpg" alt="inimgsmall4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Bullied by wedding guests over her dress</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall5.jpg" alt="inimgsmall5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Winners and losers we didn’t see coming</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                  </div></div><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall.jpg" alt="inimgsmall">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall2.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Five ugly truths about Gilmore Girls </a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall3.jpg" alt="inimgsmall3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">One more time? Federer’s golden opportunity</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall4.jpg" alt="inimgsmall4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Bullied by wedding guests over her dress</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/inimgsmall5.jpg" alt="inimgsmall5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Winners and losers we didn’t see coming</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet --> 
                  </div></div></div></div>
                  
               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
            <div class="col-sm-4 col-md-4">
               <!-- .title -->   
               <!-- .title -->   
               <div class="title">
                  <h2>FASHION</h2>
               </div>
               <!-- /.title -->   
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                   <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1400px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img1.jpg" alt="fashion-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Petra Collins Travels to Tokyo With Gucci</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img2.jpg" alt="fashion-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Giovanna Battaglia Wears Couture, and Eats Pizza </a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img3.jpg" alt="fashion-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Eva Green’s Beauty Evolution</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img4.jpg" alt="fashion-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Lounge in Silk, Lace, and Cotton Instead of Sweats</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img5.jpg" alt="fashion-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Hawaiian Shirts Have Taken Over Street Style</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->  
                  </div></div><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img1.jpg" alt="fashion-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Petra Collins Travels to Tokyo With Gucci</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img2.jpg" alt="fashion-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Giovanna Battaglia Wears Couture, and Eats Pizza </a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img3.jpg" alt="fashion-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Eva Green’s Beauty Evolution</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img4.jpg" alt="fashion-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Lounge in Silk, Lace, and Cotton Instead of Sweats</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/fashion-img5.jpg" alt="fashion-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Hawaiian Shirts Have Taken Over Street Style</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->  
                  </div></div></div></div>
                  
               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
            <div class="col-sm-4 col-md-4">
               <!-- .title -->   
               <!-- .title -->   
               <div class="title">
                  <h2>FOOD</h2>
               </div>
               <!-- /.title -->   
               <!-- .most-popular-carousel -->
               <div class="owl-carousel owl-theme carousel" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 1400px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img1.jpg" alt="food-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">London’s first naked restaurant opensplanet</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img2.jpg" alt="food-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Eating full fat foods 'can lower chance of obesity'</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img3.jpg" alt="food-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Could craft beer spell an end to Camra?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img4.jpg" alt="food-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Will the sugar tax really make Britain less fat?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img5.jpg" alt="food-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">A water-only cocktail bar is opening in London</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->                        
                  </div></div><div class="owl-item" style="width: 350px;"><div>
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img1.jpg" alt="food-img1">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">London’s first naked restaurant opensplanet</a></h4>
                           <span class="post-date">Posted On July 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img2.jpg" alt="food-img2">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Eating full fat foods 'can lower chance of obesity'</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img3.jpg" alt="food-img3">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Could craft beer spell an end to Camra?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img4.jpg" alt="food-img4">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">Will the sugar tax really make Britain less fat?</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->   
                     <!-- .weghiet -->   
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="./NEWSWORLD - Responsive Blog Template_files/food-img5.jpg" alt="food-img5">
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="http://zcube.in/newsworld/index.html#">A water-only cocktail bar is opening in London</a></h4>
                           <span class="post-date">Posted On December 22, 2016</span>      
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>      				
                        </div>
                     </div>
                     <!-- /.weghiet -->                        
                  </div></div></div></div>
                  
               <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div>
               <!-- /.most-popular-carousel -->
            </div>
         </div>
    </section>