{% load static%}

<div class="title">
                     <h2>Новости</h2>
                  </div>
             <div class="weghiet">
                <div class="col-sm-4 col-md-4 pad">
                   <img style="width:150px; heigh:50px;" src="{% static 'style-site/assets/img/bg-apartment-table.jpg' %}" alt="inimgsmall">
                </div>
                <div class="col-sm-8 col-md-8 pad">
                   <h4><a href="#">TV host’s hand impaled on nail in failed magic trick</a></h4>
                   <span class="post-date">Posted On July 22, 2016</span>
                   <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> 100</span>
                </div>
             </div>

