{% load static%}

<div class="ts-min-h__70vh w-100">

            <!--Owl Carousel-->
            <div class="owl-carousel owl-loaded owl-drag" data-owl-loop="1" data-owl-nav="1">

                <!-- SLIDE
                =====================================================================================================-->

                <!--end slide-->

                <!-- SLIDE
                =====================================================================================================-->

                <!--end slide-->

                <!-- SLIDE
                =====================================================================================================-->

                <!--end slide-->

            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3960px, 0px, 0px); transition: all 0.25s ease 0s; width: 6930px;"><div class="owl-item cloned" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-apartment-tv.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-apartment-tv.jpg' %}&quot;);">
                    <div class="ts-slide-description pb-0 h-100 ts-center__vertical">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Big Luxury Apartment</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                1350 Arbutus Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>325m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Bedrooms</dt>
                                    <dd>2</dd>
                                </dl>
                                <dl>
                                    <dt>Bathrooms</dt>
                                    <dd>1</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-bathroom.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-bathroom.jpg' %}&quot;);">
                    <div class="ts-slide-description pb-0 h-100 ts-center__vertical">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Cozy Apartment</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                4831 Worthington Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>325m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Bedrooms</dt>
                                    <dd>2</dd>
                                </dl>
                                <dl>
                                    <dt>Bathrooms</dt>
                                    <dd>1</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-building.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-building.jpg' %}&quot;);">
                    <div class="ts-slide-description h-100 ts-center__vertical pb-0">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Office Residence</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                1751 My Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>2015m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Offices</dt>
                                    <dd>48</dd>
                                </dl>
                                <dl>
                                    <dt>Parking Places</dt>
                                    <dd>50</dd>
                                </dl>
                                <dl>
                                    <dt>Shops</dt>
                                    <dd>4</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-apartment-tv.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-apartment-tv.jpg' %}&quot;);">
                    <div class="ts-slide-description pb-0 h-100 ts-center__vertical">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Big Luxury Apartment</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                1350 Arbutus Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>325m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Bedrooms</dt>
                                    <dd>2</dd>
                                </dl>
                                <dl>
                                    <dt>Bathrooms</dt>
                                    <dd>1</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item active" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-bathroom.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-bathroom.jpg' %}&quot;);">
                    <div class="ts-slide-description pb-0 h-100 ts-center__vertical">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Cozy Apartment</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                4831 Worthington Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>325m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Bedrooms</dt>
                                    <dd>2</dd>
                                </dl>
                                <dl>
                                    <dt>Bathrooms</dt>
                                    <dd>1</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-building.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-building.jpg' %}&quot;);">
                    <div class="ts-slide-description h-100 ts-center__vertical pb-0">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Office Residence</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                1751 My Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>2015m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Offices</dt>
                                    <dd>48</dd>
                                </dl>
                                <dl>
                                    <dt>Parking Places</dt>
                                    <dd>50</dd>
                                </dl>
                                <dl>
                                    <dt>Shops</dt>
                                    <dd>4</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div><div class="owl-item cloned" style="width: 990px;"><div class="ts-slide" data-bg-image="{% static 'assets/img/bg-apartment-tv.jpg' %}" style="background-image: url(&quot;{% static 'assets/img/bg-apartment-tv.jpg' %}&quot;);">
                    <div class="ts-slide-description pb-0 h-100 ts-center__vertical">
                        <div class="container">

                            <!--Title-->
                            <h1 class="mb-3">Big Luxury Apartment</h1>

                            <!--Location-->
                            <figure class="ts-opacity__50">
                                <i class="fa fa-map-marker mr-2"></i>
                                1350 Arbutus Drive
                            </figure>

                            <!--Features-->
                            <div class="ts-description-lists d-none d-md-block ts-responsive-block">
                                <dl>
                                    <dt>Area</dt>
                                    <dd>325m<sup>2</sup></dd>
                                </dl>
                                <dl>
                                    <dt>Bedrooms</dt>
                                    <dd>2</dd>
                                </dl>
                                <dl>
                                    <dt>Bathrooms</dt>
                                    <dd>1</dd>
                                </dl>
                            </div>

                            <a href="detail-01.html" class="btn btn-primary ts-btn-arrow">Detail</a>

                        </div>
                    </div>
                </div></div></div></div><div class="owl-nav"><div class="owl-prev"></div><div class="owl-next"></div></div><div class="owl-dots disabled"></div></div>
            <!--end owl-carousel-->

            <!--Hero slider control-->
            <div class="ts-hero-slider-control">
                <div class="container" id="owl-control"></div>
            </div>

        </div>