{% load static%}

<head>

        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="shortcut icon" href="http://zcube.in/newsworld/assets/img/ficon.png">
      <!-- Latest Bootstrap min CSS -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/bootstrap.min.css' %}" type="text/css">
      <!-- Dropdownhover CSS -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/bootstrap-dropdownhover.min.css' %}" type="text/css">
      <!-- latest fonts awesome -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/font-awesome.min.css' %}" type="text/css">
      <!-- Animate CSS -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/animate.min.css' %}" type="text/css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/style.css' %}" type="text/css">
      <!--  baguetteBox -->
      <link rel="stylesheet" href="{% static 'style-site/NEWSWORLD/baguetteBox.css' %}">
      <!-- Owl Carousel Assets -->
      <link href="{% static 'style-site/NEWSWORLD/owl.carousel.css' %}" rel="stylesheet">
      <link href="{% static 'style-site/NEWSWORLD/owl.theme.css' %}" rel="stylesheet">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   <style type="text/css"></style>
    <link href="{% static 'style-site/NEWSWORLD/owl.theme.css" rel="stylesheet' %}">
    <link rel="stylesheet" href="{% static 'style-site/assets/bootstrap/css/bootstrap.min.css' %}" type="text/css' %}">
    <link rel="stylesheet" href="{% static 'style-site/assets/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style-site/assets/css/style.css' %}">

    <!--SCRIPT -->

    <script>
    function switch_language(){
        document.getElementById("input_language").click()
    }
    </script>
</head>