{% extends 'base-site/base.html' %}
{% load static%}
{% load mptt_tags %}



        <!--================Boot Area =================-->
<p>12165465</p>
        {% block body %}
        <!--================Categories Banner Area =================-->




<!--================Categories Product Area =================-->
<main id="ts-main">
        <section class="categories_product_main p_80">
            <div class="container">
                <div class="categories_main_inner">
                    <div class="row row_disable">
                        <div class="col-lg-3 float-md-left">
                             <!--- Категории --->
                            <section class="solid_banner_area">
                                <div class="container">
                                    <div class="solid_banner_inner">
                                        <h3>{{ title }}</h3>
                                            <ul>
                                                <li><a href="/">Рубрика 1</a></li>
                                                <li><a href="/news/">Рубрика 2</a></li>
                                                <li><a href="">Рубрика 3</a></li>
                                            </ul>
                                    </div>
                                </div>
                            </section>
                            <!--- Новости --->
                        </div>
                        <div class="col-lg-9 float-md-right">

							<div class="c_product_grid_details">
                                {% for smena in smenas %}
                                <div class="c_product_item">
                                    <div class="row">
                                            <div class="c_product_text">
                                                <h3><a href="{{ post.get_absolute_url }}">{{ smena.title }}</a></h3>
                                                        {{ smena.content|truncatewords_html:20|safe }}
                                                <h6><a href="{{ smena.get_absolute_url }}"><span>Далее</span></a></h6>
                                                        <br><br>
                                                <div class="blog-info float-left">
                                                    <span class="author-name">
                                                        <i class="fa fa-angle-right"></i>
                                                        <a href="{{ post.category.get_absolute_url }}"> {{ post.category }}</a>
                                                    </span>
                                                    <span class="categories">



                                                    </span>
                                                    <span class="comments-number">
                                                        <i class="fa fa-comment"></i>
                                                        <a href="#">0 Comment</a>
                                                    </span>
                                                </div>
                                                    <div class="float-right"> <h6> Дата: <span> {{ smena.created_at|date:"j F Y" }}</span></h6> </div>
                                            </div>

                                    </div>
                                </div>
                                 {% endfor %}
		<!--================Paginations Product Area =================-->
                                {% if page_obj.has_other_pages %}

                                <nav aria-label="Page navigation example" class="pagination_area">
                                  <ul class="pagination">

                                      {% for p in page_obj.paginator.page_range %}
                                        {% if page_obj.number == p %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                                        {% endif %}
                                      {% endfor %}

                                      {% if page_obj.has_next %}
                                        <li class="page-item next"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                                      {% endif %}
                                  </ul>
                                </nav>
                                {% endif %}
		<!--================Paginations Product Area =================-->
                            </div>
                        </div>
                        <div class="col-lg-3 float-md-right">
                            <div class="categories_sidebar">
                                <aside class="l_widgest l_p_categories_widget">






                                </aside>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
</main>
        {% endblock %}

