{% extends 'base-site/base.html' %}
{% load static%}
{% load mptt_tags %}

{% block body %}


<!--================Categories Product Area =================-->
<section class="categories_product_main p_80">
    <div class="container">
        <div class="categories_main_inner">
            <div class="c_product_grid_details">
                {% for postpop in postpops %}
                <div class="c_product_item">
                    <div class="row">
                        <div class="c_product_text">
                            <h3><a href="{{ postpop.get_absolute_url }}">{{ postpop.title }}</a></h3>
                            <br><br>
                            <p>{{ postpop.title }}</p>

                        </div>
                    </div>
                </div>
                {% endfor %}
		<!--================Paginations Product Area =================-->
                {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example" class="pagination_area">
                    <ul class="pagination">
                        {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item next"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</section>
 {% endblock %}
